//COLORS
$corPrincipal: #f5f6fa;
$corSecundaria: #182C61;
$corTexto: #fff;
$corButao: #44bd32;
$corHover: #4cd137;

//FONT
$fontePrincipal: Roboto, sans-serif;

//BREAKPOINTS
$tablet: 1023px;
$mobile: 767px;